@charset "utf-8";

html, html * {
	box-sizing: border-box;
}

body {
	background: linear-gradient(60deg, #66dddd, #cc88ff);
	height: 100vh;
	margin: 0;
	font-size: 12pt;
}
main {
	background: url("../img/tarot_10.png") no-repeat center/contain;
	margin: auto;
	height: calc(100% - 3rem);
	vertical-align: middle;
}
footer {
	height: 3rem;
	text-align: right;
	padding: 0 2rem;
}
